<div class="text-light mx-5" id="competence">
    <div class="row">
        <div class="col">
            <h3 > Competence</h3>
        </div>
    </div>
    <br> <br>
    <div class="row">
        <div class="col">
            <h6> Adobe photoshop</h6> <br>
            <img src="../../assets/ps.png" class="w-25"  srcset="">
        </div>
        <div class="col">
            <h6> Adobe premier pro</h6> <br>
            <img src="../../assets/pr.png" class="w-25"  srcset="">
        </div>
        <div class="col">
            <h6> Adobe illustrator</h6> <br>
            <img src="../../assets/ill.png" class="w-25"  srcset="">
        </div>
        <div class="col">
            <h6> Adobe in design</h6> <br>
            <img src="../../assets/id.png" class="w-25"  srcset="">
        </div>
        <div class="col">
            <h6> Davinci Resolve</h6> <br>
            <img src="../../assets/dav.png" class="w-50"  srcset="">
        </div>
    </div>
 </div>
 <br>
 <br>

