.<div class="text-center" id="image1" [ngClass]="{'podo2': imageprovue} " [ngClass]="{'podo1':!imageprovue} ">
    
       <table>
        <tr (click)="imagenotvue()">
            <td>
                <i class="bi bi-x text-light" id="biferme" ></i>
            </td>
        </tr>
          <tr>
             <td>
                <img src="{{imageaffiche}}" alt="" srcset="">
             </td>
          </tr>
          <tr>
            <td class="text-light">
               {{imagelegende}}
            </td>
          </tr>
       </table>
</div>
