.<div class="text-center" id="image1" [ngClass]="{'podo2': imageprovue} " [ngClass]="{'podo1':!imageprovue} ">
    
       <table>
        <tr (click)="imagenotvue()">
            <td>
                <i class="bi bi-x text-light" id="biferme" ></i>
            </td>
        </tr>
          <tr>
             <td>
                <img src="../../assets/Pologo JPG.jpg" alt="" srcset="">
             </td>
          </tr>
          <tr>
            <td class="text-dark">
                c'est un logo commander par des bandes
            </td>
          </tr>
       </table>
</div>
