.<div class="container-fluid  text-center" id="con" [ngClass]="{'isactivestyle': isprojetactive}">
    <div class="row"id=defile >
        <div class="col-md-6 text-start">
            <span class="text-light"> Lot III E 75 Mahamsina sud Antanarivo 101</span>
        </div>
       
           
         <div class=" col-md-6 text-start  ">
                    <img src="../../assets/fb.png"  alt="" srcset="">  <span class="text-light"> Rasolonirina Mami Ernest</span>
         </div>
            
    
            
        <div class=" col-md-6 text-start ">
                   <img src="../../assets/tel.png"  alt="" srcset=""> <span class="text-light"> 0328770909 </span>
                   
        </div>
    
        <div class="col-md-6 text-start">
                    <img src="../../assets/gmail.png"   alt="" srcset=""> <span class="text-light"> mamiersnet95@gmail.com </span>
                   
        </div>
            
    </div>
   
</div>
