<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test</title>
</head>
<body>
  <nav class=" navbar-expand-md  navbar-light bg-dark" aria-label="Fourth navbar example" [ngClass]="{'flou': projetvue}">
    <div class="container align-items-center">
      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active px-5 text-light " aria-current="page" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-5 text-light" (click)="activestyles()"  aria-current="" href="#compet">Competence</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-5 text-light" (click)="activestyles2()" aria-current="" href="#projet">Projet</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>  
  <div class="row bg my-5 text-center" [ngClass]="{'flou': projetvue}" id="home">
    <div class="col-lg-6 ">
      <img src="../assets/mami.png" class="img-fluid w-50"  style="width: 20%; border-radius: 20%;" alt="">
     </div>
     
    <div class="col" id="profile" >
      <div class="row">
        <div class="col">
          <h1 class="text-light" >RASOLONIRINA <br> MAMI ERNEST</h1> 
          <h3 class="text-secondary"> GRAPHIC DESIGNER & VIDEASTE </h3>
          <br>
          <h4 class="text-info "> 
          
             Je suis un graphiste et videaste à le recherche d'un emploi de graphisme ou videaste.
             j'ai de l'experience d'un an en vidéaste  et graphisme comme freelance 
          </h4>
        </div>
      
        <div class="row">
           <div class="col">
            <app-contacts id="contact"></app-contacts>
          </div>
        </div>
       
      </div>
       
    </div>
    
    
   
 </div> 
   <br> <br> <br> <br> <br>
 <app-competence id="compet" [ngClass]="{'com':isactive}" [ngClass]="{'flou': projetvue}"></app-competence> <br> <br> <br>
 <app-projet id="projet" [ngClass]="{'pro':isactive2}" [ngClass]="{'flou': projetvue}"></app-projet>
 <app-imagepro></app-imagepro>
 
</body>
</html>