.com {
    animation: translationdroite 3s;
  }
.pro{
    animation: translationdroite 3s;
}
#contact{
    margin-top: 200px;
}
#home{
    animation: translationdroite 3s;
}
  @keyframes translationdroite {
      from{
         opacity: 0%;
         
      }
      to{
          opacity: 100%;
      }
  }

  
